.html
{
	background: #000000 url("../images/909%20bd.jpg") no-repeat center center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 836px;
	min-height: 934px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 62px 105px;
}

#u69
{
	z-index: 2;
	width: 836px;
	position: relative;
}

#u140-4
{
	z-index: 4;
	width: 109px;
	min-height: 16px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 363px;
	margin-top: 61px;
	position: relative;
}

#u191-4
{
	z-index: 19;
	width: 255px;
	background-color: transparent;
	text-align: center;
	color: #0000FF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 291px;
	margin-top: 17px;
	position: relative;
}

#u191-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 17px 0px 0px 291px;
}

#pu143-3
{
	width: 0.01px;
	margin-left: 91px;
	margin-top: 17px;
	position: relative;
}

#u143-3
{
	z-index: 8;
	width: 44px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 125px;
}

#u391-4
{
	z-index: 28;
	width: 313px;
	min-height: 9px;
	text-align: right;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u392-4
{
	z-index: 32;
	width: 313px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 341px;
}

#pu192-4
{
	width: 0.01px;
	margin-left: 177px;
	margin-top: 16px;
	position: relative;
}

#u192-4
{
	z-index: 15;
	width: 227px;
	min-height: 11px;
	text-align: right;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#pu147-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u147-4
{
	z-index: 11;
	width: 227px;
	min-height: 11px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u195-5
{
	z-index: 23;
	width: 216px;
	min-height: 7px;
	background-color: transparent;
	color: #0000FF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u195-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	margin: 0px;
}

#pu394-4
{
	width: 0.01px;
	margin-left: 216px;
	margin-top: 27px;
	position: relative;
}

#u394-4
{
	z-index: 36;
	width: 188px;
	min-height: 3px;
	font-size: 14px;
	text-align: right;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u395-4
{
	z-index: 40;
	width: 109px;
	min-height: 3px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #0000FF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u395-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 3px;
	margin: 0px -10000px 0px 0px;
}

#u191-4:hover p,#u195-5:hover p,#u395-4:hover p
{
	font-style: italic;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

